body {
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.nav-item {
  list-style: none;
  font-family: 'Karla', sans-serif;
  margin: 16px 0;
}

.nav-bar {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 40px;
  padding: 5px 15px;
}

.nav-link {
  transition: .07s ease;
  text-decoration: none;
}

.nav-link:hover {
  color: #9FB1F5;
}

.hamburger{
  position: absolute;
  right: 15px;
  cursor: pointer;
  float: right;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  flex-direction: column;
  width: 100%;
  text-align: right;
  transition: 0.3s;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6.5px);
  transform: rotate(-45deg) translate(-3px, 6.5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -7.75px);
  transform: rotate(45deg) translate(-3px, -7.75px);
}

.change .nav-menu {
  display: block;
}

.page-container {
  margin-top: 5%;
  margin-left: 6%;
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.project-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 7%;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 400px;
  padding-right: 5%;
}

.title {
  position: relative;
  display: flex;
  margin-top: 2%;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
}

.text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  width: 90%;
  padding-top: 1%;
}

.footer {
  margin-top: 3%;
  padding: 1%;
  padding-bottom: .5%;
}

.footer-text {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

a.special-link {
  text-decoration: underline;
}

a.special-link:hover {
  color: #9FB1F5;
}
