body {
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

a:link {
  text-decoration: underline;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #9FB1F5;
}

.nav-item a{
  text-decoration: none;
  color: black;
}

.nav-item a:visited {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  text-decoration: none;
  color: #9FB1F5;
}

.nav-item {
  list-style: none;
  font-family: 'Karla', sans-serif;
  margin: 16px 0;
}

.nav-bar {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 40px;
  padding: 5px 15px;
}

.nav-link {
  transition: .07s ease;
  text-decoration: none;
}

.nav-link:hover {
  color: #9FB1F5;
}

.hamburger{
  position: absolute;
  right: 15px;
  cursor: pointer;
  float: right;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  flex-direction: column;
  width: 100%;
  text-align: right;
  transition: 0.3s;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6.5px);
  transform: rotate(-45deg) translate(-3px, 6.5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -7.75px);
  transform: rotate(45deg) translate(-3px, -7.75px);
}

.change .nav-menu {
  display: block;
}

.page-container {
  margin-top: 5%;
  margin-left: 6%;
  display: inline-block;
}

.title {
  position: relative;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  width: 80%;
}

.header-container {
  position: relative;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.header {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  padding-right: 12%;
  padding-bottom: 2%;
}

.text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  width: 90%;
  padding-top: 4%;
}

.special {
  width: 40%;
}

.big-img {
  width: 65%;
  padding: 2%;
  margin-left: 11.5%;
}

.xtra-big-img {
  width: 80%;
  padding: 2%;
  margin-left: 5%;
}

.huge-img {
  width: 90%;
  padding: 2%;
  margin-left: 1%;
}

.small-img {
  width: 42%;
  padding-top: 4%;
  padding-left: 8%;
}

.med-img {
  width: 40%;
  padding: 2%;
  padding-top: 3%;
}

.medish-img {
  width: 40%;
  padding-left: 26%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.test {
  margin-top: 1%;
  padding-left: 3%;
}

.footer {
  margin-top: 3%;
  padding: 1%;
  padding-bottom: .5%;
}

.footer-text {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}
