body {
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.back-button {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
  margin: 0;
}

.back-text {
  font-size: 1em;
  font-family:'Karla', sans-serif;
  font-weight:400;
  color: #0E0E52;
  text-align: right;
}

a:link {
  text-decoration: underline;
  color: black;
}

a:visited {
  text-decoration: underline;
  color: black;
}

.page-container {
  margin-top: 5%;
  margin-left: 6%;
}

.title {
  position: relative;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
}

.header-container {
  position: relative;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.header {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  padding-right: 12%;
  padding-bottom: 2%;
}

.text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  width: 90%;
  padding-top: 4%;
}

.special {
  width: 40%;
}

.big-img {
  width: 65%;
  padding: 2%;
  margin-left: 11.5%;
}

.xtra-big-img {
  width: 80%;
  padding: 2%;
  margin-left: 5%;
}

.huge-img {
  width: 90%;
  padding: 2%;
  margin-left: 1%;
}

.small-img {
  width: 42%;
  padding-top: 4%;
  padding-left: 8%;
}

.med-img {
  width: 40%;
  padding: 2%;
  padding-top: 3%;
}

.medish-img {
  width: 40%;
  padding-left: 26%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.test {
  margin-top: 1%;
  padding-left: 3%;
}

.footer {
  margin-top: 3%;
  padding: 1%;
  padding-bottom: .5%;
}

.footer-text {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}
