body {
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

a:link {
  text-decoration: underline;
  color: white;
}

a:visited {
  text-decoration: underline;
  color: white;
}

.page-container {
  margin-top: 5%;
  margin-left: 5%;
  flex: 1;
}

.name {
  position: relative;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.para-container {
  position: relative;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
}

.para {
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
  width: 40%;
  padding-right: 8%;
}

.footer {
  padding-left: 1%;
  padding-bottom: .5%;
}


.footer-text {
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 18px;
}

a.bold:link {
  font-weight: bold;
}

a.bold:visited {
  font-weight: bold;
}
